.font-item {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
}
  .font-item label {
    display: block;
  }
  
  .font-item.ng-enter {
    -webkit-animation: flipInX 1s;
    -moz-animation: flipInX 1s;
    -ms-animation: flipInX 1s;
    animation: flipInX 1s;
  }
    
  .font-item.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }

.font-complete {
  background: #f3f3f3;
  color: #777;
}
  .font-complete label {
    text-decoration: line-through;
  }
